* {box-sizing: border-box;}

.container-titulo{
    text-align: center;
    padding-top: 80px;

}

.quadro-img{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    margin: 20px;
    
}

.quartos-img{
    height: 300px;
    width: 450px;   
}

.info-quarto h3{
    padding-top: 20px;
    text-align: center;
}

.info-quarto ul{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    flex-wrap: wrap;
    height: 44px;
    margin-left:200px;
    width: 1200px;
    margin-bottom: 100px; 
}

